.footers{
font-style: normal;
font-weight: normal;
font-size: 15px;
color: rgba(255, 255, 255, 0.71);
height: 40px;
}
.footers-last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}